<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<clear/>
		<add key="RelayCount" value="150"/>
		<add key="LockerLayers" value="10"/>
	</appSettings>
	<connectionStrings>
		<add name="DatabaseConnection" connectionString="Server=b8qmsoqcu1yosqa9lx85-mysql.services.clever-cloud.com;Port=3306;Database=b8qmsoqcu1yosqa9lx85;Uid=u4tocibb3bxblvbl;Pwd=rsX3ThqR1OgqqkaJVTfx;"/>
	</connectionStrings>
</configuration>